<!--[cardAluno]-->
<div class="row" style="font-family:Open Sans">
    <div class="col-sm-6">
        <div class="card panel">
            <div class="card-header panel-heading">
               <div class="card-title panel-title">
                   <div style="width: 100%"> <i class="far fa-clock gray" aria-hidden="true"></i>  {{matricula}} </div>
                </div>
            </div>
            <div class="card-body panel-body" style="text-align:center">
                <p>
                <b>Nome: </b> {{nome}} <br>
                <b>Login: </b> {{login}} <br>
                <b>Curso: </b> {{curso}} <br>
                </p>
            </div>
            <!-- <div class="card-footer panel-footer" style="text-align:center">
                <a href="https://www.adianti.com.br/framework-quickstart" target="newwindow" class="btn btn-default"> <i class="far fa-clock blue" aria-hidden="true"></i> Abrir guia rápido </a>
            </div> -->
        </div>
    </div>
    
    <div class="col-sm-6">
        <div class="card panel">
            <div class="card-header panel-heading">
               <div class="card-title panel-title">
                   <div style="width: 100%"><i class="far fa-folder gray" aria-hidden="true"></i> Estrutura de diretórios</div>
                </div>
            </div>
            <div class="card-body panel-body" style="text-align:center">
                <p>
                A seguir, você tem acesso à estrutura de diretórios utilizada pelo Adianti framework.
                Todas as classes do framework, e outros arquivos necessários estão localizados sob o diretório /lib/adianti. 
                </p>
            </div>
            <div class="card-footer panel-footer" style="text-align:center">
                <a href="https://www.adianti.com.br/framework-structure" target="newwindow" class="btn btn-default"> <i class="far fa-folder blue" aria-hidden="true"></i> Ver estrutura de diretórios </a>
            </div>
        </div>
    </div>
</div>

<div class="row" style="font-family:Open Sans">
    
</div>
<!--[/cardAluno]-->